[submodule "Hello_World_Deep_Learning"]
	path = Hello_World_Deep_Learning
	url = https://github.com/paras42/Hello_World_Deep_Learning
[submodule "FHIRmaker"]
	path = FHIRmaker
	url = https://github.com/sglanger/FHIRmaker
